<div class="sidebar @StateCssClass">
    <DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
        <Nodes>
                <DxTreeViewNode NavigateUrl="./" Text="Overview" CssClass="@RootNodeCssClass" />
                <DxTreeViewNode NavigateUrl="htmlEditor" Text="HTML Editor" CssClass="@RootNodeCssClass" />
                <DxTreeViewNode NavigateUrl="map" Text="Map" CssClass="@RootNodeCssClass" />
                <DxTreeViewNode NavigateUrl="gauge" Text="Gauge" CssClass="@RootNodeCssClass" />
        </Nodes>
    </DxTreeView>
</div>

@code {
    const string RootNodeCssClass = "root-item";
    [Parameter] public string StateCssClass { get; set; }
}